<%#= render 'searches/form' %>
<h1><b>町　紹　介</b></h1>

<div class="container-fluid">
<div class="row justify-content-center">


<% @posts.each do |post| %>
  <%= render 'look', post: post %>
  <div style="display: flex; justify-content: flex-end; margin-top: auto;">
  <%= link_to '詳細を見る', public_post_path(post.id) %>
  </div>
  <p>コメント件数：<%= post.post_comments.count %></p>
<% end %>

</div>
</div>
