
<div>
  <h3><%= @customer.name %></h3>
  <%#= image_tag @user.get_profile_image, size:'100x100' %>
  <%#= image_tag @user.profile_image, size: "200x200" %>
  <%#= image_tag @user.get_profile_image(100,100) %>
  <% if @customer.profile_image.attached? %>
    <%= image_tag @customer.profile_image(100,100) %>
  <% else %>
    <%= image_tag 'no_image', size:'100x100' %>
  <% end %>
</div>

<div>
  <%= link_to '編集', users_information_edit_path %><!---->
</div>
